.appart-list {

    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px; 
    justify-content: center;
    
}


.appart-list .appart-card img {

    height: 340px;
    width: 340px;
    
    border-radius: 10px;
}


.appart-list .appart-card {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
   
}